* {
  box-sizing: border-box;
}

.tabs-container {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(204, 231, 238);
  padding: 0 30px 30px;
}
.tab {
  width: 80%;
  height: 500px;
  background-color: rgb(146, 10, 158);
  border: 5px solid rgb(68, 6, 49);
  margin: 0 10% 10%;
  text-align: center;
  line-height: 500px;
  font-size: 250px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin:  0 30px 30px;
  padding: 30px;

}
.tab-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}